:root {
    --primary-color: #4CAF50;
    --primary-hover-color: #45a049;
    --secondary-color: #008CBA;
    --secondary-hover-color: #007BB5;
    --background-color: #f0f0f0;
    --text-color: #333;
    --header-color: #c96929;
    --container-bg-color: #fff;
    --container-shadow: rgba(0, 0, 0, 0.1);
    --border-color: #ccc;
    --progress-bg-color: #ddd;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--container-bg-color);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--container-shadow);
}

h1 {
    text-align: center;
    color: var(--header-color);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-hover-color);
}

.progress-container {
    width: 100%;
    background-color: var(--progress-bg-color);
    margin-top: 20px;
}

.progress-bar {
    height: 25px;
    width: 0;
    text-align: center;
    line-height: 25px;
    color: white;
    border-radius: 4px;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.progress-bar.started {
    background-color: #A20404; /* Cor inicial */
}

.progress-bar.halfway {
    background-color: #ffc400; /* Cor na metade */
}

.progress-bar.complete {
    background-color: #20D800; /* Cor quando completado */
}


#message {
    margin-top: 20px;
    text-align: center;
}

/* Removing unused class */
